{% extends "base.html" %}

{% block content %}
<div class="docs-layout">
	<aside class="docs-nav" aria-label="Documentation sections">
		{% include "partials/docs_nav.html" %}
	</aside>
	<article class="docs-main prose">
		<h1>{{ section.title }}</h1>
		{{ section.content | safe }}
		<div class="link-list link-list--docs">
			{% for page in section.pages %}
			<a href="{{ page.permalink | safe }}"><span>{{ page.title }}</span></a>
			{% endfor %}
			{% for subsection_path in section.subsections %}
				{% set subsection = get_section(path=subsection_path) %}
				<a href="{{ subsection.permalink | safe }}"><span>{{ subsection.title }}</span><small>{{ subsection.pages | length }} pages</small></a>
			{% endfor %}
		</div>
	</article>
</div>
{% endblock content %}

