{% set docs = get_section(path="docs/_index.md") %}
<p class="docs-nav__title">
	<a {% if active_permalink == docs.permalink %}class="is-active"{% endif %} href="{{ docs.permalink | safe }}">Docs</a>
</p>
{% for subsection_path in docs.subsections %}
	{% set subsection = get_section(path=subsection_path) %}
	<details class="docs-nav__group" open>
		<summary>
			<a {% if active_permalink == subsection.permalink %}class="is-active"{% endif %} href="{{ subsection.permalink | safe }}">{{ subsection.title | replace(from="`", to="") }}</a>
		</summary>
		{% if subsection.pages %}
		<ul>
			{% for item in subsection.pages %}
			<li><a {% if active_permalink == item.permalink %}class="is-active"{% endif %} href="{{ item.permalink | safe }}">{{ item.title | replace(from="`", to="") }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if subsection.subsections %}
		<ul>
			{% for child_path in subsection.subsections %}
				{% set child = get_section(path=child_path) %}
				<li><a {% if active_permalink == child.permalink %}class="is-active"{% endif %} href="{{ child.permalink | safe }}">{{ child.title | replace(from="`", to="") }}</a></li>
			{% endfor %}
		</ul>
		{% endif %}
	</details>
{% endfor %}
